button.mediaplayer {
  margin: 4px 4px;
  border-radius: 4px;

  background: rgb(255, 255, 255);
  color: black;

  &.spotify {
    background: #1DB954;
    color: black;
  }
  &.firefox {
    background: #FF9500;
    color: #241f31;
  }
}

