// START LEFT MODULE
.Menu {
  icon {
    font-size: 24px;
  }
}
.mediaplayer {
  margin: 4px 4px;
  border-radius: 4px;

  background: rgb(255, 255, 255);
  color: black;

  &.spotify {
    background: #1DB954;
    color: black;
  }
  &.firefox {
    background: #FF9500;
    color: #241f31;
  }
}
.SysInfo {
  padding: 2px 8px;
  border-radius: 8px;

  &:hover {
    background-color: #fff;
    color: black;

    transition-duration: 150ms;
  }

  .GroupItem {
    padding: 0 8px;
  }
}
// END LEFT MODULE

// START CENTER MODULE
.workspaces {

  .WorkspaceButton {
    padding: 0 8px;
    margin: 4px 2px;
    color: white;
    background-color: rgba(55, 124, 189, 0.6);
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 4px;
  }

  .WorkspaceButton:hover:not(.focused) {
    background-color: rgb(100, 170, 236);
    color: black;
    padding: 0 12px;
  }

  .focused {
    background-color: rgba(226, 134, 212, 0.85);
    padding: 0 20px;
  }

  .urgent {
    background-color: rgba(226, 134, 212, 0.45);

    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

box.center-module {
  padding: 4px;
  margin: 0 8px;
}
// END CENTER MODULE

// START RIGHT MODULE
.SysTray {
  .SysTrayItem {
    padding: 2px 4px;
    margin: 0;

    font-size: 16px;
  }
}

.right-module-item {
  margin: 0 8px;
}
// END RIGHT MODULE

.module {
  border-radius: 8px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.4);
}