@use '../variables' as *;
@use 'sass:color';

$bg: $primary;
$fg: $on-primary;

.audio-control {
  min-width: calc($container-padding * 45);

  .devices-drawer {
    margin: $button-padding 0;
    transition: all 50ms steps(25);

    border-radius: calc($border-radius * 2);

    &.active {
      background: $bg;

      icon, label {
        color: $fg;
      }

      scale slider {
        background: $tertiary-container;

        &:hover {
          background: color.adjust($tertiary-container, $lightness: 5%);
        }
      }
    }
  }

  .default-device {
    padding: $container-padding;

    icon {
      padding: $button-padding;
    }

    .arrow icon {
      transition: all 100ms steps(25);

      &.active {
        -gtk-icon-transform: rotate(90deg);
      }
    }
  }

  .devices-list-container {
    padding: 0 $button-padding $container-padding;
  }

  .devices-list eventbox.device {
    box {
      padding: $button-padding $container-padding;
      border-radius: $button-padding;

      label {
        margin-left: $container-padding;
      }
    }

    &.default box {
      background: $on-tertiary;

      label, icon {
        color: $tertiary;
      }
    }
    
    &:hover:not(.default) box {
      background: $tertiary;
      padding: calc($button-padding - 1px) calc($container-padding - 1px);
      border: $tertiary-container 1px solid;

      label, icon {
        color: $on-tertiary;
      }
    }
  }
}