@use '../variables' as *;
@use 'sass:color';

check,
radio {
  min-height: 15px;
  min-width: 15px;
  margin: 4px;
  padding: 0;
  color: transparent;
  background-color: $secondary-container;
  transition:
          all 75ms cubic-bezier(0, 0, 0.2, 1),
          box-shadow 150ms cubic-bezier(0, 0, 0.2, 1);
}

radio {
  border-radius: 100%;
}

check {
  border-radius: 4px;
  color: black;
}

check:hover,
radio:hover {
  box-shadow: 0 0 0 4px color.adjust($primary-container, $alpha: -0.8);
  background-color: $primary-container;
}

check:checked,
check:indeterminate,
radio:checked,
radio:indeterminate {
  color: $on-primary-container;
  background-color: $primary-container;

  &:hover {
    box-shadow: 0 0 0 4px color.adjust($inverse-primary, $alpha: -0.8);
    background-color: $inverse-primary;
  }
}

check {
  &:checked, &:indeterminate {
    -gtk-icon-source: -gtk-icontheme('kt-check-data-symbolic');
  }
}

radio {
  &:checked, &:indeterminate {
    -gtk-icon-source: -gtk-icontheme('radio-checked-symbolic');
  }
}