@use '../variables' as *;
@use "sass:color";

* {
  all: unset;
  font-family: 'JetBrainsMono NF', 'MesloLGS Nerd Font', serif;
  font-size: $font-size;
  color: $on-background;
}

.container {
  padding: $container-padding;
  background-color: $on-secondary;
  border: $outline 1px solid;
  border-radius: $border-radius;
}

button, .button {
  &.primary {
    background: $primary;

    & > * {
      color: $on-primary;
    }
  }

  &.reverse-primary {
    background: $on-primary;
    border: $outline 1px solid;

    & > * {
      color: $primary;
    }
  }

  &.secondary {
    background: $secondary;

    & > * {
      color: $on-secondary;
    }
  }

  &.reverse-secondary {
    background: $on-secondary;
    border: $outline 1px solid;

    & > * {
      color: $secondary;
    }
  }

  &.tertiary {
    background: $tertiary;

    & > * {
      color: $on-tertiary;
    }
  }

  &.reverse-tertiary {
    background: $on-tertiary;
    border: $outline 1px solid;

    & > * {
      color: $tertiary;
    }
  }

  &.disabled {
    background: color.adjust($on-background, $alpha: -0.5);

    & > * {
      color: color.adjust($background, $alpha: -0.5);
    }
  }

  &.primary, &.reverse-primary,
  &.secondary, &.reverse-secondary,
  &.tertiary, &.reverse-tertiary {
    &:hover {
      box-shadow: 0 0 2px 0 color.adjust(black, $alpha: -0.3) inset;
    }

    &:active {
      box-shadow: 0 0 4px 0 color.adjust(black, $alpha: -0.3) inset;
    }
  }

  padding: $half-button-padding $button-padding;
  border-radius: calc($border-radius / 2);
  transition-property: all;
  transition-duration: 100ms;
}

label.animating {
  transition-property: all;
  transition-duration: 100ms;
}

button.txt-icon, label.txt-icon {
  &, label {
    padding-right: 0.4em;
  }

  &.idle-inhibitor {
    padding-right: 0.2em;
  }
}

tooltip {
  @extend .container;
  box-shadow: none;
  background: color.adjust($on-primary, $alpha: -0.1, $lightness: -5%);
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 4px 0;
  border: none;
  border-radius: 100%;
  background-color: $secondary-container;
  background-clip: padding-box;
  font-size: 0;
  color: transparent;

  :checked {
    background-color: $primary-container;
  }

  :disabled {
    opacity: 0.5;
  }

  slider {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
    min-width: 18px;
    min-height: 18px;
    margin: 3px;
    border-radius: 9999px;
    outline: none;
    background-color: $outline;
    border: none;
    color: transparent;
  }
}

scale {
  min-height: 2px;
  min-width: 2px;

  &.horizontal {
    padding: 17px 12px;
  }

  &.vertical {
    padding: 12px 17px;
  }

  slider {
    min-height: 18px;
    min-width: 18px;
    margin: -8px;
  }

  trough {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    outline: none;
    background-color: $surface-container-highest
  }

  highlight {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    background-color: $primary;
  }

  highlight:disabled {
    background-color: $outline;
  }

  fill {
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  }

  fill:disabled {
    background-color: transparent;
  }

  slider {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 100%;
    color: $on-primary-container;
    background-color: $primary-container;
    box-shadow: inset 0 0 0 2px $surface;
  }

  slider:hover {
    box-shadow: inset 0 0 0 2px $outline,
    0 0 0 8px color.adjust($outline, $alpha: -0.9);
  }

  slider:active {
    box-shadow: inset 0 0 0 4px $outline,
    0 0 0 8px color.adjust($outline, $alpha: -0.9);
  }
}

separator {
  min-width: 1px;
  min-height: 1px;
  background-color: $secondary-container;

  &.transparent {
    background-color: transparent;
  }
}

scrollbar contents trough {
  background: color.adjust($tertiary, $alpha: -0.7);
  border-radius: $border-radius;

  &:hover {
    min-width: $container-padding;
    background: color.adjust($tertiary, $alpha: -0.4);
  }

  slider {
    border-radius: $border-radius;
    min-width: 4px;
    background: $primary;
    &:hover {
      min-width: $button-padding;
    }
  }
}

