@use '../variables' as *;
@use 'sass:color';

@keyframes blinkButton {
  to {
    background-color: $secondary-container;
  }
}
@keyframes blinkLabel {
  to {
    color: $on-secondary-container;
  }
}

.workspaces {
  .workspace-button {
    margin: 0 $button-padding;
    border: $outline 1px solid;

    padding: $half-button-padding $button-padding;

    &.focused {
      background: $tertiary;
      label {
        color: $on-tertiary;
      }

      padding-left: calc($container-padding * 1.5);
      padding-right: calc($container-padding * 1.5);
    }

    &.urgent {
      animation-name: blinkButton;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      label {
        animation-name: blinkLabel;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }

    &:hover:not(.focused) {
      label {
        color: $on-primary-container;
      }
      background: $primary-container;
      padding-left: calc($button-padding * 1.5);
      padding-right: calc($button-padding * 1.5);

      transition-duration: 50ms;
    }
  }


  >:first-child {
    margin-left: 0;
  }
  >:last-child {
    margin-right: 0;
  }
}