$primary: rgb(212 219 255);
$on-primary: rgb(16 34 85);
$primary-container: rgb(127 142 200);
$on-primary-container: rgb(0 0 0);

$secondary: rgb(216 219 243);
$on-secondary: rgb(32 37 54);
$secondary-container: rgb(140 144 166);
$on-secondary-container: rgb(0 0 0);

$tertiary: rgb(250 208 241);
$on-tertiary: rgb(55 28 52);
$tertiary-container: rgb(170 133 163);
$on-tertiary-container: rgb(0 0 0);

$error: rgb(255 210 204);
$on-error: rgb(84 0 3);
$error-container: rgb(255 84 73);
$on-error-container: rgb(0 0 0);

$background: rgb(18 19 24);
$on-background: rgb(227 225 233);

$outline: rgb(177 177 187);
$outline-variant: rgb(143 144 153);

$shadow: rgb(0 0 0);
$scrim: rgb(0 0 0);

$inverse-surface: rgb(227 225 233);
$inverse-on-surface: rgb(41 42 47);
$inverse-primary: rgb(54 69 122);

$surface: rgb(18 19 24);
$on-surface: rgb(255 255 255);
$surface-variant: rgb(69 70 79);
$on-surface-variant: rgb(220 219 230);

$surface-dim: rgb(18 19 24);
$surface-bright: rgb(67 68 74);
$surface-tint: rgb(182 196 255);

$surface-container-lowest: rgb(6 7 12);
$surface-container-low: rgb(28 29 35);
$surface-container: rgb(39 40 45);
$surface-container-high: rgb(49 50 56);
$surface-container-highest: rgb(61 61 67);