$font-size: 14px;

$icon-sizes: ('tiny': 16px, 'small': 24px, 'medium': 32px, 'large': 48px);

$container-padding: 8px;
$double-container-padding: 16px;
$half-container-padding: 4px;
$quarter-container-padding: 2px;

$button-padding: $half-container-padding;
$half-button-padding: $quarter-container-padding;

$border-radius: 8px;