// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

window.Bar {
  all: unset;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font", "MesloLGS Nerd Font", serif;

  centerbox.BarContainer {
    margin: 4px 8px 0;
  }

  button {
    all: unset;
    padding: 2px 8px;
    border-radius: 8px;

    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: steps(15);
  }

  @import 'bar';
}